.nav {
    grid-area: n;
    background-color: burlywood;
}

.item {
    color: white;
}

.item.active {
    color: gold;
}
.active {
    color: red;
}

.item a{
    color: white;
}


.item a.activeLink{
    color: gold;
}
